%h2 Avaliable Bundles

%table#bundles
  %thead
    %tr
      %th Bundle Name
      %th Select Bundle
  %tbody
    - @bundle.each do |bundle|
      %tr
        %td= bundle.name
        %td= link_to "View Bundle", bundle_path(Bundle)
//team_path(Bundle) needs to be bundle_path(Bundle)
